/* CSS Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

/* Buttons */
.btn {
  border: none;
  outline: none;
  padding: 0.35rem 0.75rem;
  font-size: 1rem;
}

/* ProductList */
.products-list {
  padding: 3rem 0;
}

.products-list h2 {
  margin-bottom: 1.5rem;
  padding-left: 2rem;
}

.products-list .products-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}
.products-list .products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-content: baseline;
}

.products-list .product-card {
  background-color: #f9f9f9;
  /* box-shadow: 0 0 15px 5px rgba(196, 196, 196, 0.5); */
  padding: 1rem;
  border-radius: 0.35rem;
  border: 1px solid #f9f9f9;
}

.products-list .product-card:hover {
  border: 1px solid #ddd;
}

.products-list .product-title {
  margin: 1rem 0;
}
.products-list .product-description {
  color: #555;
}
.products-list .product-price {
  color: orangered;
  font-size: 1.1rem;
  margin: 1rem 0;
}

.products-list .btn-details {
  background-color: rgb(0, 168, 112);
  border-radius: 0.15rem;
  color: #ffffff;
}

.loading {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  width: 45px;
  height: 45px;
}

.categories {
  background-color: #e8faf4;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  height: fit-content;
}

.category-btn {
  background: none;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  text-align: left;
  padding: 0.25rem 0.75rem;
}

.category-btn:hover {
  color: #333;
  background: #fefefe;
}

/*  About Us */

.about {
  padding: 3rem 0;
}

.about h1,
.about h2 {
  margin: 0.75rem 0;
}

.about ul {
  list-style-type: square;
  padding: 1rem 0 1rem 1.5rem;
}

/* Products Details */
.product-details {
  padding: 3rem 0;
}
.product-details .product-wrapper {
  display: flex;
}

.product-images {
  max-width: 500px;
}

.selected-image img {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.product-thumbnails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product-thumbnails img:hover {
  cursor: pointer;
}

.product-thumbnails .active {
  background: #cecece;
}

.product-thumbnails img:not(:last-child) {
  border-right: 1px solid #cecece;
}
