/* CSS Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

/* Buttons */
.btn {
  border: none;
  outline: none;
  padding: 0.35rem 0.75rem;
  font-size: 1rem;
}

/* ProductList */
.products-list {
  padding: 3rem 0;
}

.products-list h2 {
  margin-bottom: 1.5rem;
  padding-left: 2rem;
}

.products-list .products-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}
.products-list .products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-content: baseline;
}

.products-list .product-card {
  background-color: #f9f9f9;
  /* box-shadow: 0 0 15px 5px rgba(196, 196, 196, 0.5); */
  padding: 1rem;
  border-radius: 0.35rem;
  border: 1px solid #f9f9f9;
}

.products-list .product-card:hover {
  border: 1px solid #ddd;
}

.products-list .product-title {
  margin: 1rem 0;
}
.products-list .product-description {
  color: #555;
}
.products-list .product-price {
  color: orangered;
  font-size: 1.1rem;
  margin: 1rem 0;
}

.products-list .buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.products-list .btn-details,
.products-list .btn-add-cart {
  border-radius: 0.25rem;
  color: #0f1111;
  font-size: 0.85rem;
  cursor: pointer;
}

.products-list .btn-details {
  background-color: #bad8ce;
}

.products-list .btn-add-cart {
  background-color: #fed813;
}

.loading {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  width: 45px;
  height: 45px;
}

.categories {
  background-color: #e8faf4;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  height: fit-content;
}

.category-btn {
  background: none;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  text-align: left;
  padding: 0.25rem 0.75rem;
}

.category-btn:hover {
  color: #333;
  background: #fefefe;
}

/*  About Us */

.about {
  padding: 3rem 0;
}

.about h1,
.about h2 {
  margin: 0.75rem 0;
}

.about ul {
  list-style-type: square;
  padding: 1rem 0 1rem 1.5rem;
}

/* Products Details */
.product-details {
  padding: 3rem 0;
}
.product-details .product-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
}

.product-images {
  max-width: 500px;
}

.selected-image {
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.selected-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
}

.product-thumbnails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product-thumbnails img:hover {
  cursor: pointer;
}

.product-thumbnails .active {
  background: #cecece;
}

.product-thumbnails img:not(:last-child) {
  border-right: 1px solid #cecece;
}

.product-content .title {
  color: #0f1111;
}

.product-content span {
  display: block;
  width: fit-content;
}

.product-content .category {
  background: #333;
  color: #fff;
  padding: 0.25rem;
  margin: 0.5rem 0 1rem 0;
  border-radius: 0.25rem;
}

.product-content .description {
  color: #565959;
  max-width: 500px;
}

.product-content .price {
  margin: 1rem 0;
}

.tags-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tags-wrapper .tag {
  /* background: #9be72a; */
  background: #cde0ff;
  padding: 0.15rem 0.3rem;
  border-radius: 0.25rem;
}

hr {
  background-color: #ccc;
  border: none;
  width: 100%;
  height: 1px;
}

.product-content .brand {
  margin-top: 1rem;
}

.product-content .brand,
.product-content .rating,
.product-content .discount,
.product-content .stock {
  margin-bottom: 0.5rem;
}

.product-details .btn-add-cart,
.product-details .btn-go-cart {
  display: block;
  /* background-color: #4e64df; */
  background-color: #fed813;
  color: #0f1111;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.15rem;
  margin: 1rem 0;
  width: 225px;
  text-align: center;
  cursor: pointer;
}

.product-details .btn-go-cart {
  background-color: #ffa41d;
}

/* Cart */
.cart {
  padding: 3rem 0;
}

/* .cart-items {
} */

.cart-item {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  gap: 1rem;
  max-width: 800px;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.cart-item img {
  width: 115px;
}

.cart-item-wrapper {
  width: 100%;
}

.cart-item-details {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: c;
  gap: 2rem;
  width: 100%;
}

.cart-item-details .title {
  margin-bottom: 1rem;
}

.cart-item-buttons {
  display: flex;
}

.plus-minus-buttons {
  border: 2px solid #fed813;
  border-radius: 1rem;
  display: flex;
}

.plus-minus-buttons .btn {
  border: none;
  outline: none;
  height: 30px;
  background: none;
  width: 35px;
  font-weight: 600;
  /* border-right: 1px solid #ccc; */
}

.plus-minus-buttons hr {
  width: 1px;
  height: 30px;
  display: inline-block;
}

.btn-delete {
  background: #c50932;
  border-radius: 1rem;
  color: #f9f9f9;
  margin-left: 1rem;
  padding-inline: 1rem;
}

.subtotal {
  font-size: 1.15rem;
  margin-top: 1rem;
}

.subtotal span {
  font-weight: bold;
}

.btn-clear-cart {
  margin-top: 0.5rem;
  background: #c50932;
  color: #fff;
  border-radius: 0.25rem;
}

/* Navbar */
nav {
  background: #333;
  color: #fff;
  padding: 1rem 0;
}

nav .container,
.right-nav,
.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo span {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.links {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.075rem;
  gap: 1.5rem;
}

.links a {
  color: inherit;
}

.right-nav {
  justify-content: end;
}

.left-nav {
  gap: 5rem;
}

#search {
  border: none;
  padding: 1rem 0.5rem;
  width: 450px;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.cart-shopping {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.cart-link {
  display: block;
  position: relative;
  background: red;
}

.cart-link img {
  width: 35px;
  height: 35px;
  filter: invert(100%);
  z-index: 1;
  position: absolute;
}

.cart-link .total-items {
  background: #fed813;
  padding: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -0.5rem;
  border-radius: 50%;
  z-index: 0;
  font-size: small;
  font-weight: bold;
  transform: translateX(25%);
}

/* Mediaquery for ProductsList + Nav */

@media (max-width: 870px) {
  nav {
    padding: 0.35rem 0;
  }

  nav .container {
    flex-direction: column;
    gap: 0.75rem;
  }

  .right-nav {
    justify-self: end;
    width: 100%;
  }

  .left-nav {
    justify-content: space-between;
    width: 100%;
  }

  #search {
    padding: 0.65rem 0.35rem;
    font-size: 0.95rem;
    max-width: 300px;
  }
  .products-list .products-content {
    grid-template-columns: 1fr;
  }

  .categories {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 0;
    width: 100%;
    overflow-x: scroll;
    font-size: 1rem;
    gap: 1rem;
  }

  .category-btn {
    font-size: 1rem;
  }

  .products-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }

  .product-details .product-wrapper {
    grid-template-columns: 1fr;
  }

  .selected-image {
    width: 350px;
    height: 350px;
  }

  .product-thumbnails {
    width: 200px;
  }
}

@media (max-width: 414px) {
  .cart-item img {
    width: 55px;
  }

  .cart-item-details .title {
    font-size: 1rem;
  }
}
